*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/shelf
/.idea/caches
/.idea/libraries
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
/app/build
.kotlin
